footer{
    background: #e7f4fe33;
    border-top: solid 2px #bbbbbb33;
    padding: 50px 0;
    div{
        text-align: justify;
        ul{ 
            display: inline-block;
            font-size:0;
            vertical-align: top;
            text-align: left;
            list-style: none;
            li{
                vertical-align: middle;
                &:first-child{
                    font-size: 26px;
                    font-family: $primary-font;
                    color: $heading-color;
                    margin-bottom: 25px;
                    @include bp(tablet){
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
                a{
                    font-size: 20px;
                    line-height: 50px;
                    color: $content-color;
                    font-family: $secondary-font;
                    @include bp(tablet){
                        font-size: 15px;
                        line-height: 30px;
                    }
                    @include bp(phone){
                        font-size: 12px;
                    }
                }
            }
            @include bp(phone){
                &.others{
                    margin: 0 120px 0 0;
                }
            }
        }
        &::after{
            content:'';
            display:inline-block;
            width:100%;
        }
    }
}
