.join-us{
    padding: 130px 10px 200px;
    overflow-x: hidden;
    @include bp(tablet){
        padding: 70px 10px 200px;
    }
    @include bp(phone){
        padding: 130px 10px 20px;
    }
    .places{
        float: left;
        width: 400px;
        height: 350px;
        border-right: solid 1px #979797;
        @include bp(desktop){
            width: 250px;
        }
        @include bp(tablet){
            width: 150px;
            height: 250px;
        }
        @include bp(phone){
            width: 90px;
            height: 230px;
        }
        li{
            margin: 0 0 40px 0;
            .section-heading{
                font-size: 28px;
                color: #9b9b9b;
                cursor: pointer;
                @include bp(tablet){
                    font-size: 20px;
                    margin: 0 0 20px 0;
                }
                &.active{
                    color: #000000;
                }
            }
            @include bp(tablet){
                margin: 0 0 20px 0;
            }
        }
    }
    .openings{
        opacity: 0;
        margin: 0 0 0 80px;
        float: left;
        width: 400px;
        height: 0;
        transition: 0.5s opacity ease-in;
        @include bp(tablet){
            width: 200px;
        }
        @include bp(phone){
            width: 200px;
            margin: 0 0 0 10px;
        }
        li{
            &:first-child{
                color: $heading-color;
                font-family: $primary-font;
                font-size: 36px;
                @include bp(tablet){
                    font-size: 25px;
                }
                @include bp(phone){
                    font-size: 20px;
                }
            }
        }
        .section-content{
            line-height: 70px;
            @include bp(tablet){
                line-height: 40px;
            }
        }
        &.active{
            opacity: 1;
        }
    }
}