.timeline{
    padding: 100px 0 0 0;
    .main-heading{
        text-align: center;
    }
    ul{
        padding: 150px 0 0;
        overflow-x: hidden;
        @include bp(tablet){
            padding: 100px 0 0;
        }
        @include bp(phone){
            padding: 50px 0 0;
        }
        li{
            width: 1px;
            height: 300px;
            background: #979797;
            position: relative;
            margin: 0 auto;
            list-style: none;
            @include bp(tablet){
                height: 200px;
            }
            @include bp(phone){
                height: 270px;
            }
            .company-name{
                width: 460px;
                font-size: 55px;
                font-family: $primary-font;
                color: #9b9b9b1f;
                top: 50px;
                @include bp(desktop){
                    width: 300px;
                    font-size: 35px;
                }
                @include bp(desktop){
                    width: 105px;
                    font-size: 25px;
                }
                @include bp(phone){
                    width: 100px;
                    font-size: 18px;
                }
            }
            .company-details{
                width: 400px;
                top: 0;
                @include bp(desktop){
                    width: 300px;
                }
                @include bp(tablet){
                    width: 170px;
                }
                @include bp(phone){
                    width: 120px;
                }
                .section-heading{
                    margin: 0 0 25px 0;
                    @include bp(phone){
                        margin-bottom: 10px;
                    }
                }
            }
            div:first-child{
                position: absolute;
                right: 100px;
                text-align: right;
                transform: translateX(-100px);
                transition: 1s all ease;
                @include bp(tablet){
                    right: 30px;
                    transform: translateX(-70px);
                }
                @include bp(phone){
                    right: 20px;
                    transform: translateX(-50px);
                }
            }
            div:last-of-type{
                position: absolute;
                left: 65px;
                text-align: left;
                transform: translateX(100px);
                transition: 1s all ease;
                @include bp(tablet){
                    left: 30px;
                    transform: translateX(70px);
                }
                @include bp(phone){
                    left: 20px;
                    transform: translateX(30px);
                }
            }
            .dot{
                position: absolute;
                top: 0;
                left: -9px;
                background: $highlight-color;
                border-radius: 50%;
                padding: 10px;
            }
            .circle{
                position: absolute;
                top: -12px;
                left: -21px;
                border: 10px solid $highlight-color;
                padding: 12px;
                border-radius: 50%;
                opacity: 0;
                animation: pulse 3s ease-out 1s infinite;
            }
            @keyframes pulse{
                0% {
                    transform: scale(0);
                    opacity: 0.0;
                 }
                 50% {
                    transform: scale(0.4);
                    opacity: 0.5;
                 }
                 100% {
                    transform: scale(1);
                    opacity: 0.0;
                 }
            }
            &:last-child{
                // height: 0;
                background: #ffffff;
            }
            &.animate{
                div:first-child{
                    transform: translateX(0);
                }
                div:last-of-type{
                    transform: translateX(0);
                }
                .company-name{
                    color: #9b9b9b;
                }
            }
        }
    }
}