.main-heading{
    font-size: 52px;
    font-weight: 300;
    line-height: 72px;
    font-family: $primary-font;
    color: $heading-color;
}

.main-content{
    font-size: 24px;
    font-family: $primary-font;
    color: $content-color;
}

.section-heading{
    font-size: 36px;
    font-family: $primary-font;
    color: $heading-color;
}

.section-content{
    font-size: 24px;
    font-family: $primary-font;
    color: $content-color;
}

.link{
    display: inline-block;
    font-size: 18px;
    font-family: $secondary-font;
    color: $content-color;
    text-decoration: none;
}