*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.container {
  max-width: 1240px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px; }

.clearfix::after {
  content: '';
  clear: both;
  display: block; }

.main-heading {
  font-size: 52px;
  font-weight: 300;
  line-height: 72px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #000000; }

.main-content {
  font-size: 24px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #9b9b9b; }

.section-heading {
  font-size: 36px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #000000; }

.section-content {
  font-size: 24px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #9b9b9b; }

.link {
  display: inline-block;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #9b9b9b;
  text-decoration: none; }

header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;
  padding: 25px 0; }
  header nav {
    padding: 25px 0; }
    header nav .logo {
      float: left;
      width: 140px;
      height: 50px; }
      header nav .logo img {
        width: 100%;
        height: 100%;
        color: #000000;
        vertical-align: middle; }
    header nav .menu {
      float: right;
      list-style: none;
      padding: 10px 0; }
      header nav .menu li {
        margin: 0 50px 0 0;
        display: inline-block; }
        header nav .menu li a.active {
          color: #f6d500; }
        header nav .menu li:last-child {
          margin: 0; }
    header nav .menu-btn {
      display: none; }
  header.sticky {
    background: #ffffff;
    -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5); }

.hero {
  position: relative;
  padding: 200px 10px 100px;
  height: 650px; }
  .hero#home {
    background: url(../img/hero-home.png);
    background-position: right;
    background-size: 650px 400px;
    background-repeat: no-repeat; }
  .hero#experiments {
    background: url(../../img/globe.png);
    background-position: right;
    background-size: 600px 500px;
    background-repeat: no-repeat; }
  .hero#articles {
    background: url(../../img/smile.png);
    background-position: right;
    background-size: 600px 500px;
    background-repeat: no-repeat; }
  .hero#joinus {
    background: url(../../img/india.png);
    background-position: right;
    background-size: 600px 500px;
    background-repeat: no-repeat; }
  .hero#contactus {
    background: url(../../img/contact.png);
    background-position: right;
    background-size: 600px 500px;
    background-repeat: no-repeat; }
  .hero .main-heading {
    max-width: 420px;
    margin: 0 auto 12px 0; }
  .hero .main-content {
    max-width: 470px;
    margin: 0 auto 0 0; }
  .hero::after {
    content: '';
    background: #9b9b9b;
    position: absolute;
    width: 200px;
    height: 2px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0.3; }
  .hero .scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.experiments {
  position: relative;
  padding: 70px 0;
  text-align: center; }
  .experiments .experiment-no {
    font-size: 32px;
    color: #9b9b9b;
    font-family: Helvetica Neue, Arial, sans-serif;
    margin-bottom: 20px; }
  .experiments .experiment-name {
    font-size: 56px;
    color: #f6d500;
    font-family: Helvetica Neue, Arial, sans-serif;
    margin-bottom: 20px; }
  .experiments .section-heading {
    max-width: 700px;
    margin: 0 auto;
    font-weight: normal;
    margin-bottom: 35px; }
  .experiments .section-content {
    max-width: 620px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden; }
  .experiments::after {
    content: '';
    background: #9b9b9b;
    position: absolute;
    width: 200px;
    height: 2px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0.3; }
  .experiments:last-child::after {
    background: none; }

footer {
  background: #E6e7f4fe;
  border-top: solid 2px #bbbbbb;
  padding: 50px 0; }
  footer div ul {
    float: left;
    list-style: none; }
    footer div ul li:first-child {
      font-size: 26px;
      font-family: Helvetica Neue, Arial, sans-serif;
      color: #000000;
      margin-bottom: 25px; }
    footer div ul .link {
      margin-bottom: 30px; }
  footer div .full, footer div .policies, footer div .others {
    width: 20%; }
  footer div .products {
    width: 40%; }

@media (max-width: 1024px) {
  .main-heading {
    font-size: 45px; }
  .main-content {
    font-size: 20px; }
  .section-heading {
    font-size: 30px; }
  .section-content {
    font-size: 20px; }
  .link {
    font-size: 15px; }
  header nav .menu li {
    margin: 0 25px 0 0; }
  .timeline ul li .company-name {
    width: 300px;
    font-size: 35px; }
  .timeline ul li .company-details {
    width: 300px; } }

@media (max-width: 768px) {
  .main-heading {
    font-size: 40px; }
  .main-content {
    font-size: 20px; }
  .section-heading {
    font-size: 20px; }
  .section-content {
    font-size: 15px; }
  .link {
    font-size: 15px; }
  header nav .menu {
    opacity: 0;
    float: none;
    position: absolute;
    padding: 50px 0 0;
    background: #000000F7;
    width: 100%;
    height: 0;
    top: 100px;
    left: 0;
    text-align: center;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden; }
    header nav .menu li {
      margin: 0;
      display: block;
      padding: 10px; }
      header nav .menu li .link {
        font-size: 20px;
        font-weight: bold; }
    header nav .menu.show {
      opacity: 1;
      height: 100vh; }
  header nav .menu-btn {
    display: block;
    float: right;
    padding: 10px 0;
    font-weight: bold; }
  .timeline ul {
    padding: 100px 0 0; }
    .timeline ul li {
      height: 200px; }
      .timeline ul li div:first-child {
        right: 30px; }
      .timeline ul li div:last-of-type {
        left: 30px; }
      .timeline ul li .company-name {
        width: 105px;
        font-size: 25px; }
      .timeline ul li .company-details {
        width: 170px; }
  .experiments {
    padding: 50px 0; }
    .experiments .section-heading {
      max-width: 300px; }
    .experiments .section-content {
      max-width: 250px;
      height: 55px; }
  footer div ul li:first-child {
    font-size: 15px; } }

@media (max-width: 425px) {
  .main-heading {
    font-size: 35px;
    line-height: 60px; }
  .main-content {
    font-size: 20px; }
  .section-heading {
    font-size: 15px; }
  .section-content {
    font-size: 15px; }
  .hero {
    padding: 190px 20px 130px;
    height: 550px; }
    .hero#home, .hero#experiments, .hero#articles, .hero#joinus, .hero#contactus {
      background: none; }
  .timeline ul {
    padding: 50px 0 0; }
    .timeline ul li {
      height: 270px; }
      .timeline ul li div:first-child {
        right: 20px; }
      .timeline ul li div:last-of-type {
        left: 20px; }
      .timeline ul li .company-name {
        width: 90px;
        font-size: 20px; }
      .timeline ul li .company-details {
        width: 100px; }
        .timeline ul li .company-details .section-heading {
          margin-bottom: 10px; }
  footer div ul .link {
    margin-bottom: 10px; }
  footer div .full {
    width: 40%; }
  footer div .products {
    width: 60%; }
  footer div .policies, footer div .others {
    width: 50%; } }

/*# sourceMappingURL=../../maps/pages/experiments.css.map */
