@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.container {
  max-width: 1240px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px; }

.clearfix::after {
  content: '';
  clear: both;
  display: block; }

ul {
  list-style: none; }

.main-heading {
  font-size: 52px;
  font-weight: 300;
  line-height: 72px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #000000; }
  @media (max-width: 1024px) {
    .main-heading {
      font-size: 45px; } }
  @media (max-width: 768px) {
    .main-heading {
      font-size: 40px; } }
  @media (max-width: 425px) {
    .main-heading {
      font-size: 35px;
      line-height: 60px; } }

.main-content {
  font-size: 24px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #9b9b9b; }
  @media (max-width: 1024px) {
    .main-content {
      font-size: 20px; } }

.section-heading {
  font-size: 36px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #000000;
  font-weight: normal; }
  @media (max-width: 1024px) {
    .section-heading {
      font-size: 30px; } }
  @media (max-width: 768px) {
    .section-heading {
      font-size: 20px; } }
  @media (max-width: 425px) {
    .section-heading {
      font-size: 15px; } }

.section-content {
  font-size: 24px;
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #9b9b9b; }
  @media (max-width: 1024px) {
    .section-content {
      font-size: 20px; } }
  @media (max-width: 768px) {
    .section-content {
      font-size: 15px; } }
  @media (max-width: 425px) {
    .section-content {
      font-size: 15px; } }

.link {
  display: inline-block;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #9b9b9b;
  text-decoration: none;
  font-weight: normal; }
  @media (max-width: 1024px) {
    .link {
      font-size: 15px; } }

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 25px 0;
  -webkit-transition: 0.3s background ease;
  transition: 0.3s background ease; }
  header nav {
    padding: 25px 0; }
    header nav .logo {
      float: left;
      width: 140px;
      height: 50px; }
      header nav .logo img {
        width: 100%;
        height: 100%;
        color: #000000;
        vertical-align: middle; }
    header nav .menu {
      float: right;
      list-style: none;
      padding: 10px 0; }
      @media (max-width: 768px) {
        header nav .menu {
          opacity: 0;
          float: none;
          position: absolute;
          padding: 50px 0 0;
          background: #000000F7;
          width: 100%;
          height: 0;
          top: 100px;
          left: 0;
          text-align: center;
          z-index: 10;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          overflow: hidden; } }
      header nav .menu li {
        margin: 0 50px 0 0;
        display: inline-block; }
        @media (max-width: 1024px) {
          header nav .menu li {
            margin: 0 25px 0 0; } }
        @media (max-width: 768px) {
          header nav .menu li {
            margin: 0;
            display: block;
            padding: 10px; } }
        @media (max-width: 768px) {
          header nav .menu li .link {
            font-size: 20px;
            font-weight: bold; } }
        header nav .menu li a.active {
          color: #f6d500; }
        header nav .menu li:last-child {
          margin: 0; }
      @media (max-width: 768px) {
        header nav .menu.show {
          opacity: 1;
          height: 100vh; } }
    header nav .menu-btn {
      display: none; }
      @media (max-width: 768px) {
        header nav .menu-btn {
          display: block;
          float: right;
          padding: 10px 0;
          font-weight: bold; } }
  header.sticky {
    background: #ffffff;
    z-index: 100;
    -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2); }

.hero {
  position: relative;
  margin: 50px auto 0;
  height: 100vh;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat; }
  @media (max-width: 425px) {
    .hero {
      margin: 10px auto; } }
  @media (max-width: 425px) {
    .hero#contactus {
      background-position: top 70px center; } }
  .hero .hero-content {
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: .5s all linear;
    transition: .5s all linear; }
    .hero .hero-content .main-heading {
      max-width: 420px;
      margin: 0 auto 12px 0; }
    .hero .hero-content .main-content {
      max-width: 470px;
      margin: 0 auto 0 0; }
    .hero .hero-content.animate {
      opacity: 1;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .hero::after {
    content: '';
    background: #9b9b9b;
    position: absolute;
    width: 200px;
    height: 2px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0.3; }
  .hero .scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation: bounce 4s infinite;
            animation: bounce 4s infinite; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
  50% {
    -webkit-transform: translate(-50%, -30px);
            transform: translate(-50%, -30px); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
  50% {
    -webkit-transform: translate(-50%, -30px);
            transform: translate(-50%, -30px); } }
  .hero .chat-icon {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 30px;
    bottom: 50px;
    background: #2bca91;
    border-radius: 50%;
    padding: 12px;
    text-align: center;
    z-index: 10; }

.hero#home {
  background-image: url(../img/hero-home.png); }

.hero#experiment {
  background-image: url(../../img/globe.png); }

.hero#articles {
  background-image: url(../../img/smile.png); }

.hero#joinus {
  background-image: url(../../img/india.png); }

.hero#contactus {
  background-image: url(../../img/contact.png); }

.join-us {
  padding: 130px 10px 200px;
  overflow-x: hidden; }
  @media (max-width: 768px) {
    .join-us {
      padding: 70px 10px 200px; } }
  @media (max-width: 425px) {
    .join-us {
      padding: 130px 10px 20px; } }
  .join-us .places {
    float: left;
    width: 400px;
    height: 350px;
    border-right: solid 1px #979797; }
    @media (max-width: 1024px) {
      .join-us .places {
        width: 250px; } }
    @media (max-width: 768px) {
      .join-us .places {
        width: 150px;
        height: 250px; } }
    @media (max-width: 425px) {
      .join-us .places {
        width: 90px;
        height: 230px; } }
    .join-us .places li {
      margin: 0 0 40px 0; }
      .join-us .places li .section-heading {
        font-size: 28px;
        color: #9b9b9b;
        cursor: pointer; }
        @media (max-width: 768px) {
          .join-us .places li .section-heading {
            font-size: 20px;
            margin: 0 0 20px 0; } }
        .join-us .places li .section-heading.active {
          color: #000000; }
      @media (max-width: 768px) {
        .join-us .places li {
          margin: 0 0 20px 0; } }
  .join-us .openings {
    opacity: 0;
    margin: 0 0 0 80px;
    float: left;
    width: 400px;
    height: 0;
    -webkit-transition: 0.5s opacity ease-in;
    transition: 0.5s opacity ease-in; }
    @media (max-width: 768px) {
      .join-us .openings {
        width: 200px; } }
    @media (max-width: 425px) {
      .join-us .openings {
        width: 200px;
        margin: 0 0 0 10px; } }
    .join-us .openings li:first-child {
      color: #000000;
      font-family: Helvetica Neue, Arial, sans-serif;
      font-size: 36px; }
      @media (max-width: 768px) {
        .join-us .openings li:first-child {
          font-size: 25px; } }
      @media (max-width: 425px) {
        .join-us .openings li:first-child {
          font-size: 20px; } }
    .join-us .openings .section-content {
      line-height: 70px; }
      @media (max-width: 768px) {
        .join-us .openings .section-content {
          line-height: 40px; } }
    .join-us .openings.active {
      opacity: 1; }

/*# sourceMappingURL=../../maps/pages/joinus.css.map */
