// color 
$heading-color: #000000;
$content-color: #9b9b9b;
$highlight-color: #f6d500;

//font-family
$primary-font: Helvetica Neue,Arial,sans-serif;
$secondary-font: 'Open Sans', sans-serif;

//max-width
$max-width: 1240px;

//media queries
$desktop: 1024px;
$tablet: 768px;
$phone: 425px;